.App {
  text-align: center;
}

.Input {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;

  .Keywords {
    width: auto;
    flex: 0.5;
  }
}

.Output {
  margin-top: 50px;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}
